/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ------------------------------------ */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  font-weight: 500;
  color: var(--color-primary);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-primary-active);
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-family: var(--font-title);
}
h2 {
  font-size: 1.3em;
  line-height: 1.1;
  font-family: var(--font-title);
}

p {
  margin: 1em 0;
}

button,
.link-button {
  border-radius: 5px;
  border: 2px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-primary);
  cursor: pointer;
  transition: all 0.25s;
  text-decoration: none;
  color: var(--color-text);
  font-weight: 700;
  letter-spacing: 0.0125em;
  line-height: normal;
}
button:hover,
.link-button:hover {
  background-color: var(--color-primary-active);
  color: var(--color-primary-dark);
}
button:focus,
button:focus-visible,
.link-button:focus,
.link-button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
@media (prefers-color-scheme: light) {
  button,
  .link-button,
  button:hover,
  .link-button:hover {
    color: white;
  }
}

button.outline,
.link-button.outline {
  background-color: transparent;
  border-color: var(--color-primary);
  color: var(--color-primary);
}
button.outline:hover,
.link-button.outline:hover {
  border-color: var(--color-primary-active);
  color: var(--color-primary-active);
}

input[type='date'],
input[type='datetime-local'],
input[type='email'],
input[type='month'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='time'],
input[type='url'],
input[type='week'] {
  border-radius: 5px;
  padding: 0.75em 0.5em;
  border: 2px solid gray;
}

.muted-link {
  color: var(--color-text-muted);
  text-decoration: underline;
  transition: all 0.25s;
}
.muted-link:hover {
  color: var(--color-primary);
}
